Package: com.reddestdream.minimalhostsblocker
Name: Minimal Hosts Blocker
Version: 7.2
Architecture: iphoneos-arm
Conflicts: com.thireus.untrustedhostsblockerexperimental, com.thireus.untrustedhostsblockerlight, com.thireus.untrustedhostsblocker, com.myrepospace.reddestdream.minimal, com.myrepospace.basic.basic
Description: A Minimal Ad Blocker! ^_^
Maintainer: ReddestDream <reddestdream@gmail.com>
Author: ReddestDream <reddestdream@gmail.com>
Section: Tweaks
