Package: com.reddestdream.mhbcb
Name: Minimal Hosts Blocker CB
Version: 1.2
Architecture: iphoneos-arm
Conflicts: com.thireus.untrustedhostsblockerexperimental, com.thireus.untrustedhostsblockerlight, com.thireus.untrustedhostsblocker, com.myrepospace.reddestdream.minimal, com.myrepospace.basic.basic, com.reddestdream.minimalhostsblocker
Description: Minimal Hosts to be used with a Content Blocker! ^_^
Maintainer: ReddestDream <reddestdream@gmail.com>
Author: ReddestDream <reddestdream@gmail.com>
Section: Tweaks
